[Unit]
Description=Calunga a YouTube DL Bot
After=multi-user.target

[Service]
Type=idle
Restart=on-failure
User=calunga
WorkingDirectory=/var/calunga/bot
#ExecStart=/usr/bin/python3 calunga.py 2>&1
ExecStart=/usr/bin/python3 calunga.py 2> logs/kalunga.log

[Install]
WantedBy=multi-user.target